.alert-success {
    background-color: rgb(161, 255, 161);
    color:rgb(0, 0, 0);
}

.alert-warning {
    background-color: yellow;
    color:rgb(0, 0, 0);
}

.alert-danger {
    background-color: rgb(255, 142, 142);
    color:rgb(0, 0, 0);
}

.alert-info {
    background-color: rgb(98, 245, 255);
    color:rgb(0, 0, 0);
}
nav {
    background-color: rgb(0, 50, 187);
    height: 5%;
    
}
nav li {
    display: inline-block;
    margin: 10px;
}
nav li a{
    color: rgb(255, 255, 255); 
}

input {
    font-size: large;
    width: 50%;
    height: 5%;
    display: block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
  }
  
body{ 
    font-size: large;
    background-color: rgb(208, 246, 255);
    color: rgb(0, 0, 0);
}